<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <div class="container pt-3">

    <section class="text-danger text-center">
      {% if messages %}
      <ul class="list-unstyled d-inline-block">
        {% for message in messages %}
        <li class="text-left">
          {{ message }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </section>

    <div class="card shadow">
      <div class="card-header">
        <h3 class="text-center">
          Edit Doggo
        </h3>
      </div>
      <div class="card-body">
        <form action="/doggos/{{ doggo_to_edit.id }}/update" method="POST">
          {% csrf_token %}

          <div class="form-group">
            <label>Name</label>
            <input class="form-control" value="{{ doggo_to_edit.name }}" name="name">
          </div>

          <div class="form-group">
            <label>Age</label>
            <input class="form-control" value="{{ doggo_to_edit.age }}" name="age" type="number">
          </div>

          <div class="form-group">
            <label>Weight (lbs)</label>
            <input class="form-control" value="{{ doggo_to_edit.weight }}" name="weight" type="number">
          </div>

          <div class="form-group">
            <label>Tricks</label>
            <textarea class="form-control" name="tricks">{{ doggo_to_edit.tricks }}</textarea>
          </div>

          <div class="form-group">
            <label>Bio</label>
            <textarea id="bio" class="form-control" name="bio">{{ doggo_to_edit.bio }}</textarea>
          </div>

          <div class="form-group">
            <label>Profile Pic URL</label>
            <textarea class="form-control" name="profile_pic_url">{{ doggo_to_edit.profile_pic_url }}</textarea>
          </div>

          <div class="form-group">
            <label>Birthday</label>
            <input id="birthday" class="form-control" value="{{ formatted_birthday }}" name="birthday" type="date">
          </div>

          <button class="btn btn-info" type="submit">Edit</button>
        </form>
      </div>
    </div>

  </div>
</body>

</html>