<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <div class="container">
    <a href="/home">Home</a>
    <h1 class="mb-5 mt-3 text-center">
      Profile Page For: {{ doggo.name }}
    </h1>

    <div class="row">
      <div class="col-md">
        <img class="border border-info rounded-circle w-75" src="{{ doggo.profile_pic_url }}" alt="Profile Picture">
      </div>
      <div class="col-md">
        <div class="shadow rounded-lg p-3">
          <h2 class="text-center">Bio</h2>
          <p>{{ doggo.bio }}</p>
        </div>
      </div>
    </div>

    <hr>
    <div>
      <h2>Stats:</h2>
      <p>Age: {{ doggo.age }}</p>
      <p>Weight: {{ doggo.weight }}</p>
      <p>Birthday: {{ doggo.birthday }}</p>

      <h3>Tricks:</h3>
      <ul>
        {% for trick in doggo.tricks.all %}
        <li>
          <a href="/tricks/{{ trick.id }}">
            {{ trick.name }}
          </a>
        </li>
        {% endfor %}
      </ul>

    </div>

  </div>
</body>

</html>