<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Local Doggos Near You Want to Be Petted</h1>
  <h3>
    {{ logged_in_user.full_name }} | <a href="/doggos">All Doggos</a> | <a href="/doggos/new">Add A Doggo</a> | <a
      href="/tricks">All Tricks</a> | <a href="/logout">Logout</a>
  </h3>
</body>

</html>