<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <div class="container">
    <h1 class="text-center">
      Dogs with trick: {{ trick.name }}
    </h1>

    <ul>
      {% for doggo in trick.dogs_with_trick.all %}
      <li>
        <a href="/doggos/{{ doggo.id }}">
          {{ doggo.name }} - submitted by: {{ doggo.submitted_by.full_name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

</body>

</html>